
<div class="col-sm-4">
  <h3>Formulario Estado</h3>
  <%= form_with(model: @estado,url: estado_crear_path ,local: true) do |form| %> 

    <div class="field">
      <%= form.label :nombre%>    
      <%= form.text_field :nombre  ,class:"form-control"%>
    </div>
    
    <div class="field">
      <%= form.label :descripcion %>
      <%= form.text_field :descripcion ,class:"form-control" %>
    </div>

    <div class="field">
      <%= form.label :pais_id %>
      <%= form.text_field :pais_id %>
    </div>

    <div class="actions">
      <%= form.submit "Guardar", class: "btn btn-primary"%>
    </div>


  <% end %>
  <%= link_to 'Regresar', estados_inicio_path , class: "btn btn-info"%>
  
</div>

